<div data-sly-use.manualcard="${'com.exadel.core.models.ManualCard'}"></div>
<div class="carousel">
    <div id="carousel-c813aecaf1" class="cmp-carousel" role="group" aria-live="polite" aria-roledescription="carousel" data-cmp-delay="5000" data-placeholder-text="false">
        <div class="cmp-carousel__content" aria-atomic="false" aria-live="polite">
            <div > </div>
            <div class="cmp-carousel__actions">
                <button class="cmp-carousel__action cmp-carousel__action--previous" type="button" aria-label="Previous" data-cmp-hook-carousel="previous">
                    <span class="cmp-carousel__action-icon"></span>
                    <span class="cmp-carousel__action-text">Previous</span>
                </button>
                <button class="cmp-carousel__action cmp-carousel__action--next" type="button" aria-label="Next" data-cmp-hook-carousel="next">
                    <span class="cmp-carousel__action-icon"></span>
                    <span class="cmp-carousel__action-text">Next</span>
                </button>
            </div>
            <ol class="cmp-carousel__indicators" role="tablist" aria-label="Choose a slide to display" data-cmp-hook-carousel="indicators">
            </ol>
        </div>
    </div>
</div>